/cmake-build-debug

.mytodos.md
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-dcf54e2a494d61f2f707.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3b077af5c32b48866b65.json
build/.cmake/api/v1/reply/codemodel-v2-537a482a305cea17edf8.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2024-12-07T16-52-36-0451.json
build/.cmake/api/v1/reply/target-first-Debug-350d30c13735149b5320.json
build/.cmake/api/v1/reply/toolchains-v1-67228bb07a5f6c90d582.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/CompilerIdC/a.exe
build/CMakeFiles/3.31.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/first.dir/build.make
build/CMakeFiles/first.dir/cmake_clean.cmake
build/CMakeFiles/first.dir/compiler_depend.internal
build/CMakeFiles/first.dir/compiler_depend.make
build/CMakeFiles/first.dir/compiler_depend.ts
build/CMakeFiles/first.dir/depend.make
build/CMakeFiles/first.dir/DependInfo.cmake
build/CMakeFiles/first.dir/flags.make
build/CMakeFiles/first.dir/link.txt
build/CMakeFiles/first.dir/linkLibs.rsp
build/CMakeFiles/first.dir/objects.a
build/CMakeFiles/first.dir/objects1.rsp
build/CMakeFiles/first.dir/progress.make
.vscode/settings.json
.vscode/settings.json
.gitignore
